<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inscriptions.univer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Inscriptions.univer>
            <setting name="token" serializeAs="String">
                <value>a470930b7e19172703769387b93c761e</value>
            </setting>
        </Inscriptions.univer>
    </applicationSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
          <bindingRedirect oldVersion="2.1.0.0" newVersion="2.5.1.0"/>
          <codeBase version="2.5.1.0" href="C:\Users\ELEARNING\Desktop\extracciones\FirebirdSql.Data.FirebirdClient.dll"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>  
</configuration>
